
{# Add an ellipsis if there are further previous pages. #}
{% if ellipses.previous %}
  <li class="pager__item pager__item--ellipsis" role="presentation">&hellip;</li>
{% endif %}

{# Now generate the actual pager piece. #}
{% for key, item in items.pages %}
  <li class="pager__item{{ current == key ? ' is-active' : '' }}">
    {% if current == key %}
      {% set title = 'Current page'|t %}
    {% else %}
      {% set title = 'Go to page @key'|t({'@key': key}) %}
    {% endif %}
    <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes|without('href', 'title') }}>
        <span class="visually-hidden">
          {{ 'Page'|t }}
        </span>
      {{- key -}}
    </a>
  </li>
{% endfor %}

{# Add an ellipsis if there are further next pages. #}
{% if ellipses.next %}
  <li class="pager__item pager__item--ellipsis" role="presentation">&hellip;</li>
{% endif %}
